.stroke-text {
  display: block;
  font-family: var(--stroke-text-font, Arial, sans-serif);
  width: 100%;
  height: 20vh;
  max-height: var(--stroke-text-height, 100%);
  margin: 0 1rem 0 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color:  #ffffff;
  line-height: 0;

}

.stroke-text--hover {
  cursor: pointer;
}

.stroke-text__svg {
  font-family: inherit;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.stroke-text__stroke,
.stroke-text__fill {
  user-select: none;
}

@media (max-width: 500px) {
  .stroke-text__svg {
    height: auto;
    align-items: first baseline;
  }

  .stroke-text {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 10vh;
  }
}

@media (max-width: 350px) {
  

  .stroke-text {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 10vh;
  }
}